<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Package sources -->
  <packageSources>   
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Private feed -->
    <add key="MyExternalFeed" value="https://nuget.external-feed.dev/nuget/v3/index.json" />
  </packageSources>
</configuration>
